/* Global */
body {background: #FFF}
a:visited, a:link {color: #c92a2a}
.centered {width: 70vw;margin: 0 15vw}
.btn {background: #fff5f5;padding: 5px;border: solid 2px #ff6b6b;border-radius: 6px;color: #e03131;cursor: pointer;}
.btn span {font-size: .7em;}
input {color: #FFF}
.blur {filter: blur(3px);}


/* Header */
header {height: 50px;background: #f8f9fa;border-bottom: solid 2px #e03131;float: left;}
header .title {font-size: 20px;margin: 15px 0;float: left;color: #c92a2a}
header .actions {float: right;color: #e03131}
header .actions ul li {float: right;font-size: 15px;margin: 12.5px 5px;}

/* Login Container */
.login_container {text-align: center;margin: 15vh 0 0}
.login_container h2 {margin: 5vh 0 2vh;font-size: 3em;color: #c92a2a;text-transform: uppercase}
.login_container h3 {margin: 0 0 5vh;font-size: 2em;color: #c92a2a}
.login_container input {font-size: 1.5em;border: none;border-radius: 3px;padding: 5px;border: solid 2px #c92a2a;color: #c92a2a;background: #FFF}

/* Main Container */
.container {margin: 2vh 0;float: left;color: #ff6b6b}
.container .head {padding: 15px 0;float: left;width: 100%;text-transform: uppercase;font-size: .7em;font-weight: bold}
.container .head .columns {float: left;}

.container .item a {padding: 10px 0;float: left;width: 100%;}
.container .item .columns {float: left;}
.container .item .title i{padding: 0 5px}
.container .item .title span{padding: 0 15px;color: rgba(52, 58, 64, 0.7)}
.container .item:hover a {background: #fff5f5;border-radius: 3px;color: #e03131;}
.container .item:hover .title span {color: #e03131;}

.container .c-1 {width: 10%;}
.container .c-2 {width: 20%;}
.container .c-3 {width: 30%;}
.container .c-4 {width: 40%;}
.container .c-5 {width: 50%;}
.container .c-6 {width: 60%;}

.create_input {margin: 10px;padding: 5px 10px;border-radius: 3px;border: solid 1px #e03131;background: #fff5f5;width: 50%;color: #c92a2a;font-size: 1.1em}
.archived_files {margin: 15px 0;float: left;width: 100%}
.archived_files summary {cursor: pointer}

/* Modal */
.mdl {width: 100vw;height: 100vh;position: absolute;background: rgba(241, 241, 241, 0.685);display: none;}
.mdl .mdl_container {width: 60%;margin: 10vh 20%;background: #FFF;border-radius: 6px;padding: 10px 0;color: #e03131;height: 70vh;overflow: scroll;}
.mdl .mdl_container .head {border-bottom: #e03131 solid 2px;width: 100%;padding: 5px 0 25px;}
.mdl .mdl_container .head .title {padding: 15px 0px 15px 10px;font-size: 2em;display: inline-block}
.mdl .mdl_container .head .subtitle {padding: 0 10px ;font-size: 1.2em}
.key {display: inline-block;}
.key span {color: #e03131;padding: 2px 5px;border-radius: 2px;background: #fff5f5;margin: 0 1px}
.mdl .mdl_container .body {width: 90%;margin: 5vh 5%}
.mdl .mdl_container .body .item {width: 33%;margin: 0px 0 25px;display: inline-block;}
.mdl .mdl_container .body .item .title {margin-bottom: 15px;text-transform: uppercase;font-size: .8em}

.mdl .input-group {margin: 25px 0;padding: 5px 10px;border-radius: 2px;background: #FFF;width: 95%;color: #c92a2a;}
.mdl .input-group label {display: block;text-transform: uppercase;font-size: 1em;margin: 10px 10px 0}
.mdl .input-group small {display: block;font-style: italic;font-size: .8em;margin: 5px 10px 10px;color: rgba(34, 34, 34, 0.6)}
.mdl .input-group small a {color: #c92a2a}
.mdl .input-group span {padding: 5px 0 5px 10px;}
.mdl .input-group input {height: 2em;border: none;border-radius: 3px;padding: 0 5px ;background: #fff5f5;color: #c92a2a}
.mdl .save_config {background: #e03131;padding: 5px;border-radius: 6px;color: #FFF;text-align: center;margin: 0 45%;cursor: pointer;}


/* PopOver */
.act_popover {width: 15%;margin: 25px 42.5% 5px;text-align: center;display: none;float: left;position: absolute; left: 0;;}
.act_popover .body {padding: 25px 0;width: auto;text-align: center;border-radius: 3px;background: #fff5f5;padding: 5px 0;color: #c92a2a}
.act_popover .body ul li {display: inline-block;margin: 0 2.5px;color: #c92a2a;padding: 5px;cursor: pointer;}
.act_popover .body a {color: #c92a2a;margin: 0;padding: 0;}
.act_popover .arrow-down {width: 0; height: 0;margin: 2px 43%; border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 15px solid #fff5f5;}

/* Notifications */
.notif_container{ width: 100%;text-align: center;position:fixed;}
.notification {z-index: 9999;display: none;padding: 5px 15px;border-radius: 3px;cursor: pointer;}
.notif_container .notification.top-left{ position: relative; top: 15px;left: 15px}
.notif_container .notification.top-center{ position: relative; top: 15px;}
.notif_container .notification.top-right{ position: relative; top: 15px;right: 15px}
.notif_container .notification.bottom-left{ position: relative; bottom: 15px;left: 15px}
.notif_container .notification.bottom-center{ position: relative; bottom: 15px;}
.notif_container .notification.bottom-right{ position: relative; bottom: 15px;right: 15px}

/* Footer */
footer {text-align: center;margin: 50px 0 0;float: left;color: #e03131}
footer a:visited, a:link {color: #c92a2a;}
footer .centered {border-top: solid 1px #e03131;padding: 25px 0}